/* Coffee Utilisez back-ground-size : cover pour la section 
"Hero" de la maquette coffee, ainsi l'image de fond 
s'adaptera à la taille de la section. */


* {
  border: black 1px solid;
  background-color: #E2D9C8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  color: #F1F0EE;
  font-size: 1.25em;
  text-align: center;
  background-color: #E2D9C8;
}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #F1F0EE;
  padding: 20px 10px;
  background-size: cover;
  background-image: url("assets/breakslow-E6RTpqvOasU-unsplash.jpg");
}

.welcome-coffee{
  background-color: none;
}
/* Style the header links */
.header a {
  float: left;
  color: #30261C;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #F1F0EE;
  color: #30261C;
}

/* Style the active/current link*/
.header a.active {
  background-color: #30261C;
  color: #F1F0EE;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

button {
  background-color: #F1F0EE;
  color: #30261C;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 50px;
  border-color: #F1F0EE;
  cursor: pointer;
}

button:hover {
  background-color: #30261C;
  color: #F1F0EE;

}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Balthazar";
}

.price {
  color: #F1F0EE;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #F1F0EE;
  background-color: #30261C;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


footer {
  background-color: #30261C;
}



/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}