/* Coffee Utilisez back-ground-size : cover pour la section 
"Hero" de la maquette coffee, ainsi l'image de fond 
s'adaptera à la taille de la section. */


* {
  border: black 1px solid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  color: #30261C;
  font-size: 1.25em;
  text-align: center;
  background-color: #E2D9C8;
}

h3 {
  background-color: #F1F0EE;
  margin-top: 5%;
  margin-bottom: 5%;
}

i {
  color: #F1F0EE;
}

h4 {
  color: #F1F0EE;
}

/* Style the header with a grey background and some padding */

header {
  background-image: url(assets/coffee-after-before-hair-transplant.png);
  background-size: cover;

}

nav {

  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;

}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #F1F0EE;

}

.fa.fa-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #30261C;
  color: #F1F0EE;
}

.welcome-coffee {
  background-color: none;
  display: flex;
  justify-content: center;
  gap: 3%;

}

#welcome-coffee {
  color: #F1F0EE !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

#ordernow{
 order: -3;
}
/* djeufhusdfyv */
.icons-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  column-gap: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}


button {
  background-color: #F1F0EE;
  color: #30261C;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 50px;
  border-color: #F1F0EE;
  cursor: pointer;
  margin-bottom: 5%;
}

button:hover {
  background-color: #30261C;
  color: #F1F0EE;

}

.hero-section {
  background-color: #F1F0EE;
  background-size: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Balthazar";
  color: #30261C;
  ;
}

.price {
  color: #30261C;
  font-size: 22px;
}

.card button {
  border-color: #F1F0EE;
  outline: 0;
  padding: 12px;
  color: #F1F0EE;
  background-color: #30261C;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;

}

.card button:hover {
  background-color: #F1F0EE;
  color: #30261C;

}

.gallery-coffee,
.gallery-desert {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1%;

}


.coffeebeanshand {
  width: 300px;

}

.coffeebeanscup {
  width: 300px;

}

/* footer */

footer .row {
  padding-top: 2%;
  background-color: #30261C;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 1%;
}

footer li {
  list-style-type: none;
}

footer li a {

  text-decoration: none;
  color: #F1F0EE;
}


/* partie avis avec les étoiles plus media queries */
.checked {
  color: orange;
}

.reviews-section {
  background-color: #F1F0EE;
  color: #30261C;
}

.container-reviews {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container-reviews::after {
  content: "";
  clear: both;
  display: table;
}

.container-reviews img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container-reviews span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container-reviews {
    text-align: center;
  }

  .container-reviews img {
    margin: auto;
    float: none;
    display: block;
  }
}

.coffeebeans1 {

  width: 300px;

}

.coffeebeans2 {

  transform: scaleX(-1);
  width: 300px;

}

/* Responsivity */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }

  nav {

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    justify-items: center;

  }


  .icons-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    row-gap: 1rem;

  }


  footer .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
  }

  .gallery-coffee,
  .gallery-desert {
    display: inline-grid;
    grid-template-columns: auto;
    column-gap: 1%;
    row-gap: 1%;

  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: yellow;

  }

  .gallery-coffee,
  .gallery-desert {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 1%;
    row-gap: 1%;

  }

  footer .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: red;

  }

  .gallery-coffee,
  .gallery-desert {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 1%;
    row-gap: 1%;

  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: green;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: violet;
  }
}